
@mixin background($imgpath, $position:0 0, $repeat: no-repeat)
    background:
        image: url($imgpath)
        //position: $position
        repeat: $repeat
        size: cover
    min-width: 100%
    min-height: 100%
    width: 100%
    height: auto
    top: 0
    left: 0
    
.bg
    @include background("\\images\\house.jpg")

.page-title
    top: 50%
    left: 50%
    scale: 2
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    -o-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    text-align: center
    vertical-align: middle
    position: absolute
    background-color: rgba(200,200,200, 64)
    border-radius: 10px
    border-width: thick
    border-color: black
    border-style: double
    display: inline-flexbox

.h1, h1
    font-size: xxx-large

.main-content
    background-color: rgba(200,200,200, 64)
    border-radius: 10px
    border-width: thick
    border-color: black
    border-style: double
