name: Build & Deploy
on:
  push:
    branches: [master]

jobs:
  build-and-deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install & Build
        working-directory: ./billock-org
        run: |
          npm ci
          npm run build
      - name: Deploy via SFTP
        uses: Creepios/sftp-action@v1.0.3
        with:
          host: home98969401.1and1-data.host
          port: 22
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          localPath: ./billock-org/build/
          remotePath: ./billock/
          log-level: verbose
